@base: #000;
@link: #0044bb;
@small: 12pt;
@medium: 14pt;
@large: 30pt;
@extra-large: 90pt;

@muted: #999;
@yellow: #FFEDCC;

@serif: 'Lora';
@sans: 'Ek Mukta';
@blocky: 'Alegreya Sans SC';

@spacer-xl: 50px;
@spacer-fat: 25px;
@spacer: 10px;
@spacer-thin: 5px;

body {
  color: @base;
  font-size: @medium;
  font-family: @serif;


  margin: 0px;
}

a {
  color: black;
  text-decoration: underline;
}

.container {
  width: 600px;
}

.graf {
  //margin: @spacer-thin 0 @spacer-thin 0;
  margin: @spacer-thin 0 @spacer-thin 0;
  padding-top: @spacer;
  padding-bottom: @spacer;
  
  &.quote {
    border-left: 10px solid @yellow;
    padding-left: @spacer + 10px;
  }


}

// Blog

.blog--title {
  font-size: @extra-large;
  font-weight: bold;
  font-family: @blocky;
  margin: @spacer-xl 0 @spacer-xl 0;
}

// Post

.post--title {
  font-size: @large;
  position: relative;

  a { 
      color: black; 
      text-decoration: none;
      font-weight: bold;
    }

  .outside {
    position: absolute;
    left: -50px;
  }
}

.post--body {
  margin: @spacer-fat 0 @spacer 0;
  font-size: @medium;
}

.post--adder {
  font-size: @large;
  color: @muted;
}

// Font styles 

.muted {
  color: @muted;
  font-size: @small;
}
